.user-form {
  margin: 0.5rem 0;
}

.user-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.user-form input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.user-form input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}


.user-form.invalid input {
  border-color: red;
  background: #ffd7d7;
}

.user-form.invalid label {
  color: red;
}